{% extends "master.html.twig" %}

{% block title %}
    {% if action == 'edit' %}
        Changes saved
    {% else %}
        Todo added
    {% endif %}
{% endblock %}

{% block content %}
    <p>
        {% if action == 'edit' %}
            Changes saved,
        {% else %}
            Todo added,
        {% endif %}

        <a href="/">click to continue</a>.</p>
{% endblock %}
