{% extends "master.html.twig" %}

{% block title %}
    {% if action == 'edit' %}
        Editing todo
    {% else %}
        Adding todo
    {% endif %}
{% endblock %}

{% block content %}
    
<!--errorList is formed for 'post' action in the index file-->
{% if errorList %}    
    <ul class="error">
    {% for error in errorList %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}

<!--Me:note, that when action='add' no v is received, but fieleds still 
continue referring to it. My tests show its value is nothing so it is OK 
to use it -->
<!--isDone is of type Enum in the DB. In the case of 'add' action there 
id no v received, so v.isDone is nothing in that case, which evaluates to 
v.isDpone=='false', which in its turn means the check box is unchecked! -->
<form method="post">
    Task: <input type="text" name="task" value="{{v.task}}" ><br>   
    Due date: <input type="date" name="dueDate" value="{{v.dueDate}}"><br>
    Is done: <input type="checkbox" name="isDone" value="true"
                    {% if v.isDone == 'true' %}checked{% endif %}><br>
    <input type="submit" value="{% if action == 'edit'
           %}Save todo{% else %}Add todo{% endif %}">
</form>

{% endblock %}
