{% extends "master.html.twig" %}

{% block title %}Fatal error{% endblock %}

{% block content %}
    <p>We're very sorry, an internal fatal error occured.
        Our team of coding Ninjas has been notified of the issue.
        <a href="/">Click here to continue</a>.</p>
    <img src="/images/ninja.png" height="200">
{% endblock %}
